.karuzel{
    height: 900px;
    width: 100%;
}

.ps5-img{
    float: right;
}

.ps5-p{
    font-size: 50px;
    float: left;
}

.ps5-b{
    float: left;
    height: 50px;
    font-size: 20px;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

